*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    /* min-height: 100vh; */
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.main {
    margin: 30px 0;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.product-info .product-info__image {
    width: 600px;
    margin-right: 20px;
}

.product-info .product-info__content {
    flex: 1;
}

.product-info .product-info__content .product-info__name {
    font-size: 2.3rem;
    font-weight: bold;
}

.product-info .product-info__content .product-info__id {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 3px solid var(--alertColor);
}

.product-info .product-info__content .product-info__id,
.product-info .product-info__content .product-info__status {
    color: var(--blackColor);
}

.product-info .product-info__content .product-info__id span,
.product-info .product-info__content .product-info__status span {
    font-weight: var(--boldFontWeight);
    color: var(--alertColor);
}

.product-info .product-info__content .product-info__price {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.221);
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    max-width: 500px;
    margin: 30px 0;
}

.product-info .product-info__content .product-info__price span {
    margin-left: 60px;
    color: var(--alertColor);
    font-weight: var(--boldFontWeight);
    font-size: 2.5rem;
}

.product-info .product-info__control {
    display: flex;
    width: 300px;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.product-info .product-info__control span {
    margin-right: 60px;
    line-height: 40px;
}

.product-info .product-info__control .quantity-input {
    display: none;
}

.product-info .product-info__control .product-info__control--decrease,
.product-info .product-info__control .product-info__control--increase {
    height: 40px;
    width: 40px;
    background-color: var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--primaryColor);
    transition: all 0.2s linear;
}

.product-info .product-info__control .product-info__control--decrease:hover,
.product-info .product-info__control .product-info__control--increase:hover {
    background-color: var(--blackColor);
    color: var(--whiteColor);
}

.product-info .product-info__control .product-info__control--quantity {
    padding: 6px 20px;
    border-top: 1px solid var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
    font-weight: var(--boldFontWeight);
}

.product-info .add-to-cart-btn,
.product-info .buy-btn {
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
    border-radius: 10px;
}

.product-info .add-to-cart-btn {
    background-color: var(--blackColor);
    border: 3px solid transparent;
}

.product-info .buy-btn {
    background-color: var(--whiteColor);
    border: 3px solid var(--blackColor);
}

.product-info .add-to-cart-btn:hover {
    background-color: var(--whiteColor);
    border-color: var(--blackColor);
    box-shadow: inset 0px 0px 17px 6px;
}

.product-info .add-to-cart-btn:hover button {
    color: var(--blackColor);
}

.product-info .buy-btn:hover {
    background-color: var(--blackColor);
    border-color: var(--whiteColor);
    box-shadow: inset 0px 0px 17px 6px var(--whiteColor);
}

.product-info .buy-btn:hover button a {
    transition: color 0.2s linear;
    color: var(--whiteColor);
}

.product-info .add-to-cart-btn button,
.product-info .buy-btn button {
    font-weight: var(--boldFontWeight);
    transition: all 0.2s linear;
    width: 100%;
    height: 100%;
}

.product-info .add-to-cart-btn button {
    color: var(--whiteColor);
}

.product-info .buy-btn button {
    color: var(--blackColor);
}

.product-info .product-info__fledges {
    width: 100%;
    font-size: 0.85rem;
}

.product-info .product-info__fledges div span {
    font-size: 1.1rem;
    color: var(--primaryColor);
}

.product-info .product-info__fledges div {
    flex-wrap: nowrap;
}
