/* Custom radio input */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 19px;
    height: 19px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: "";
    width: 13px;
    height: 13px;
    background: #e60e4e;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.main {
    padding-top: 50px;
    background-color: #ebebeb;
    padding: 50px;
}
.category .title {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.category .title span {
    margin-left: 10px;
}

.category ul {
    margin-left: 30px;
}

.category ul li.item {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.1s;
}

.category ul li.item:hover {
    color: var(--activeColor);
}

.category ul li.item.selected {
    color: var(--activeColor);
    font-weight: bold;
}

.main .content {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.form {
    background-color: var(--whiteColor);
    padding: 0 25px 25px;
    flex: 0.9;
    max-width: 700px;
}

.form > .title {
    font-size: 1.3rem;
    padding: 20px;
    border-bottom: 1px solid rgb(205, 205, 205);
    margin-bottom: 20px;
}

.form table {
    width: 100%;
}

.form table tr td {
    height: 50px;
}

.form table tr td:first-child {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form table tr td:nth-child(2) {
    padding-left: 30px;
}

.form table tr td:nth-child(2) > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form table tr td:nth-child(2) > div .email-input,
.form table tr td:nth-child(2) > div .phone-input {
    border: 1px solid var(--blackColor);
    padding: 5px;
    transition: display 0.3s, opacity 0.3s;
    border-radius: 3px;
    opacity: 0;
    transition: all 0.3s;
}

.form table tr td:nth-child(2) > div .email,
.form table tr td:nth-child(2) > div .phone {
    position: absolute;
    transition: all 0.2s;
}

.form table tr td:nth-child(2) > div .email.hidden,
.form table tr td:nth-child(2) > div .phone.hidden,
.form table tr td:nth-child(2) > div input.hidden {
    opacity: 0;
    visibility: hidden;
}

.form table tr td:nth-child(2) > div .email.appear,
.form table tr td:nth-child(2) > div .phone.appear,
.form table tr td:nth-child(2) > div input.appear {
    opacity: 1;
    visibility: visible;
}

.form table tr td:nth-child(2) > div .change-button {
    margin-left: 10px;
    color: rgb(50, 93, 187);
    text-decoration: underline;
}

.form table tr td:nth-child(2) .gender-select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form table tr td:nth-child(2) .gender-select .radio-select {
    margin-right: 10px;
}

.form .date-of-birth-input-group > .select {
    position: relative;
    border: 3px solid var(--blackColor);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-right: 20px;
    transition: border-color 0.3s;
}

.form .date-of-birth-input-group > .select:hover {
    border-color: var(--alertColor);
    cursor: pointer;
}

.form .date-of-birth-input-group .select .box {
    position: absolute;
    top: 43px;
    left: 0;
    display: none;
    text-align: left;
    border: 1px solid var(--blackColor);
    width: 100%;
    z-index: 999;
    max-height: 200px;
    overflow: hidden auto;
    background-color: var(--whiteColor);
    padding: 10px 0;
}

.form .date-of-birth-input-group .select .box > div[value] {
    padding: 5px 10px;
    transition: all 0.2s;
}

.form .date-of-birth-input-group .select .box > div[value]:hover {
    background-color: #e2e2e2;
    color: var(--alertColor);
    cursor: pointer;
}

.form .date-of-birth-input-group .select .box::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 999;
    height: 15px;
    top: -10px;
}

.form .save-change-btn {
    padding: 15px 20px;
    border: 1px solid var(--blackColor);
    margin-top: 30px;
    margin-right: 20px;
    float: right;
    font-weight: bold;
    color: var(--whiteColor);
    background-color: var(--blackColor);
    border-radius: 3px;
}

.main .avatar-upload {
    align-self: flex-start;
    text-align: center;
}

.main .avatar-upload .avatar-input {
    display: none;
}

.main .avatar-upload .select-avatar {
    width: 80%;
    padding: 10px 15px;
    border: 1px solid var(--blackColor);
    margin-top: 30px;
    transition: background-color 0.3s;
    border-radius: 3px;
}

.main .avatar-upload .select-avatar:hover {
    background-color: #cecece;
}

.main .avatar-upload .avatar-img {
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    cursor: pointer;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form.password-form .input-password {
    border: 1px solid var(--blackColor);
    border-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all 0.2s;
    margin-bottom: 35px;
}

.form.password-form .input-password.invalid {
    border-color: var(--alertColor);
    box-shadow: 0px 0px 7px 4px var(--alertColor);
}

.form.password-form .input-password.valid {
    border-color: var(--validColor);
    box-shadow: 0px 0px 7px 4px var(--validColor);
}

.form.password-form .input-password input {
    width: 90%;
    padding: 2px 5px;
}

.form.password-form .input-password .password-btn {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    transition: all 0.1s;
}

.form.password-form .input-password .password-btn:active {
    animation: passwordBtnClick 0.1s ease-in-out;
}

.form.password-form .input-password .hide-password-btn {
    display: none;
}

.form.password-form .input-password .alert-message {
    position: absolute;
    top: 47px;
    left: 0;
    color: var(--alertColor);
    font-size: 0.9rem;
}

.form.password-form .confirm-btn {
    color: var(--whiteColor);
    background-color: var(--blackColor);
    border: 1px solid var(--blackColor);
    padding: 15px 20px;
    float: right;
    border-radius: 3px;
    transition: all 0.3s;
}

.form.password-form .confirm-btn:hover {
    box-shadow: inset 0px 0px 20px 2px;
    color: var(--blackColor);
    background-color: var(--whiteColor);
}

.form.address-form {
    max-width: 100%;
}

.form.address-form .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid var(--primaryColor);
}

.form.address-form .heading .title {
    font-size: 1.3rem;
}

.form.address-form .heading .add-address-btn {
    background-color: var(--blackColor);
    color: var(--whiteColor);
    padding: 10px 15px;
    border-radius: 3px;
    font-weight: bold;
    transition: opacity 0.2s;
}

.form.address-form .heading .add-address-btn:hover {
    opacity: 0.7;
}

.form.address-form .address-list {
    padding: 0 15px;
}

.form.address-form .address-list .heading {
    border: none;
    font-size: 1.1em;
    margin-bottom: 20px;
    padding: 15px 0;
}

.form.address-form .address-list .adrress-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primaryColor);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.form.address-form .address-list .adrress-card:last-child {
    border: none;
}

.form.address-form .address-list .adrress-card .info {
    font-size: 1.1rem;
}

.form.address-form .address-list .adrress-card .info .name {
    border-right: 1px solid var(--primaryColor);
    margin-right: 10px;
    padding-right: 10px;
    font-weight: 600;
}

.form.address-form .address-list .adrress-card .info .phone {
    color: rgb(156, 116, 116);
}

.form.address-form .address-list .adrress-card .info .address {
    font-size: 1rem;
    color: var(--primaryColor);
    margin-top: 20px;
    font-weight: 600;
    max-width: 600px;
}

.form.address-form .address-list .default-address .default-tag {
    margin-top: 20px;
    background-color: var(--activeColor);
    color: var(--whiteColor);
    max-width: 100px;
    text-align: center;
    padding: 5px 0;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 3px;
}

.form.address-form .address-list .adrress-card .address-control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    padding: 10px 0;
}

.form.address-form .address-list .adrress-card .address-control .delete-address-btn,
.form.address-form .address-list .adrress-card .address-control .update-address-btn {
    color: #42a7ff;
    font-weight: 600;
    margin-left: 15px;
}

.form.address-form .address-list .adrress-card .address-control .set-default-btn {
    background-color: #ececec;
    color: #727272;
    border: 1px solid var(--primaryColor);
    padding: 5px 15px;
}

.form.address-form .address-list .adrress-card .address-control .set-default-btn.disabled {
    cursor: no-drop !important;
    opacity: 0.6 !important;
}

.address-form-modal .modal-dialog {
    max-width: 700px;
}

.address-form-modal .modal-content {
    border-radius: 4px;
}

.address-form-modal .modal-header .modal-title {
    font-size: 1.3rem;
}

.address-form-modal .modal-body .input-address-form .input-group .input {
    border: 3px solid var(--primaryColor);
    position: relative;
    flex: 1;
    max-width: 320px;
    padding: 10px 20px;
    margin-bottom: 35px;
    font-size: 0.9rem;
    border-radius: 3px !important;
    font-weight: 500;
    transition: all 0.3s;
}

.address-form-modal .modal-body .input-address-form .input-group .input.invalid {
    border-color: var(--alertColor);
    box-shadow: 0px 0px 5px 2px var(--alertColor);
}

.address-form-modal .modal-body .input-address-form .input-group .input .alert-message {
    position: absolute;
    width: 100%;
    top: 47px;
    left: 0;
    text-align: start;
    color: var(--alertColor);
}

.address-form-modal .modal-body .input-address-form .input-group .input.active {
    border-color: var(--activeColor);
}

.address-form-modal .modal-body .input-address-form .address-select-group,
.address-form-modal .modal-body .address-description {
    margin-bottom: 50px;
    font-size: 0.9rem;
    border: 1px solid var(--primaryColor);
    position: relative;
    transition: all 0.3s;
}

.address-form-modal .modal-body .address-description.invalid {
    border-color: var(--alertColor);
    box-shadow: 0px 0px 7px 3px var(--alertColor);
}
.address-form-modal .modal-body .address-description .alert-message {
    position: absolute;
    bottom: -25px;
    font-weight: 500;
    color: var(--alertColor);
    width: 100%;
    text-align: start;
    left: 0;
}

.address-form-modal .modal-body .input-address-form .address-select-group {
    position: relative;
    margin-bottom: 35px;
    border: none;
}

.address-form-modal .modal-body .input-address-form .address-select-group .select.invalid {
    border-color: var(--alertColor);
    box-shadow: 0px 0px 5px 2px var(--alertColor);
}

.address-form-modal .modal-body .input-address-form .address-select-group .select .alert-message {
    position: absolute;
    top: 55px;
    font-weight: 500;
    color: var(--alertColor);
    width: 100%;
    text-align: start;
    left: 0;
}

.address-form-modal .modal-body .input-address-form .address-select-group::before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    background-color: transparent;
    height: 5px;
    top: 49px;
    cursor: pointer;
    z-index: 99;
}

.address-form-modal .modal-body .input-address-form .address-select-group .select {
    border: 3px solid var(--primaryColor);
    flex: 1;
    max-width: 210px;
    padding: 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
    transition: all 0.3s;
    position: relative;
}

.address-form-modal .modal-body .input-address-form .address-select-group .select.active {
    color: var(--activeColor);
    border-color: var(--activeColor);
}

.address-form-modal .modal-body .input-address-form .address-select-group .district-select,
.address-form-modal .modal-body .input-address-form .address-select-group .ward-select {
    cursor: no-drop;
}

.address-form-modal .modal-body .input-address-form .address-select-group .option-box {
    position: absolute;
    border: 2px solid var(--primaryColor);
    width: 100%;
    left: 0;
    top: 54px;
    background-color: var(--whiteColor);
    max-height: 160px;
    overflow-y: auto;
    z-index: 99;
    display: none;
}

.address-form-modal .modal-body .input-address-form .address-select-group .option-box.active {
    display: block;
}

.address-form-modal .modal-body .input-address-form .address-select-group .option-box .option {
    padding: 15px 20px;
    font-weight: 600;
    transition: background-color 0.2s;
    cursor: pointer;
}

.address-form-modal .modal-body .input-address-form .address-select-group .option-box .option:hover {
    background-color: rgb(205, 205, 205);
}

.address-form-modal .modal-body .address-description textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    height: 100px;
}

.address-form-modal .modal-footer .modal-btn {
    border: 1px solid var(--primaryColor);
    border-radius: 3px;
    padding: 10px 20px;
    color: var(--whiteColor);
    transition: all 0.3s;
    font-weight: 500;
}

.address-form-modal .modal-footer .close-modal-btn {
    background-color: var(--activeColor);
}

.address-form-modal .modal-footer .confirm-btn {
    background-color: var(--blackColor);
}

.confirm-delete-address-modal .modal-dialog .modal-content {
    padding: 20px;
}

.confirm-delete-address-modal .modal-dialog .modal-content .modal-header {
    font-size: 1.2rem;
}

.confirm-delete-address-modal .modal-dialog .modal-content .modal-body {
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.confirm-delete-address-modal .modal-dialog .modal-content .modal-body .confirm-btn,
.confirm-delete-address-modal .modal-dialog .modal-content .modal-body .back-btn {
    border: 1px solid var(--primaryColor);
    border-radius: 3px;
    padding: 10px 20px;
    transition: all 0.3s;
}

.confirm-delete-address-modal .modal-dialog .modal-content .modal-body .back-btn:hover {
    background-color: var(--primaryColor);
}

.confirm-delete-address-modal .modal-dialog .modal-content .modal-body .confirm-btn {
    background-color: var(--blackColor);
    margin-left: 20px;
    color: var(--whiteColor);
}

.confirm-delete-address-modal .modal-dialog .modal-content .modal-body .confirm-btn:hover {
    opacity: 0.7;
}

/* animations */
@keyframes passwordBtnClick {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(4px);
    }
    100% {
        transform: translateY(0);
    }
}
