.not-found-result {
    width: 40vw;
    margin: 0 auto 100px;
    text-align: center;
    display: flex;
    font-weight: 300;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found-result svg {
    max-width: 60%;
    padding: 3rem;
}

.not-found-result svg #oval,
.not-found-result svg #plus,
.not-found-result svg #diamond,
.not-found-result svg #bubble-rounded {
    -webkit-animation: plopp 4s ease-out infinite;
    animation: plopp 4s ease-out infinite;
}

.not-found-result svg #oval:nth-child(1),
.not-found-result svg #plus:nth-child(1),
.not-found-result svg #diamond:nth-child(1),
.not-found-result svg #bubble-rounded:nth-child(1) {
    -webkit-animation-delay: -240ms;
    animation-delay: -240ms;
}

.not-found-result svg #oval:nth-child(2),
.not-found-result svg #plus:nth-child(2),
.not-found-result svg #diamond:nth-child(2),
.not-found-result svg #bubble-rounded:nth-child(2) {
    -webkit-animation-delay: -480ms;
    animation-delay: -480ms;
}

.not-found-result svg #oval:nth-child(3),
.not-found-result svg #plus:nth-child(3),
.not-found-result svg #diamond:nth-child(3),
.not-found-result svg #bubble-rounded:nth-child(3) {
    -webkit-animation-delay: -720ms;
    animation-delay: -720ms;
}

.not-found-result svg #oval:nth-child(4),
.not-found-result svg #plus:nth-child(4),
.not-found-result svg #diamond:nth-child(4),
.not-found-result svg #bubble-rounded:nth-child(4) {
    -webkit-animation-delay: -960ms;
    animation-delay: -960ms;
}

.not-found-result svg #oval:nth-child(5),
.not-found-result svg #plus:nth-child(5),
.not-found-result svg #diamond:nth-child(5),
.not-found-result svg #bubble-rounded:nth-child(5) {
    -webkit-animation-delay: -1200ms;
    animation-delay: -1200ms;
}

.not-found-result svg #oval:nth-child(6),
.not-found-result svg #plus:nth-child(6),
.not-found-result svg #diamond:nth-child(6),
.not-found-result svg #bubble-rounded:nth-child(6) {
    -webkit-animation-delay: -1440ms;
    animation-delay: -1440ms;
}

.not-found-result svg #oval:nth-child(7),
.not-found-result svg #plus:nth-child(7),
.not-found-result svg #diamond:nth-child(7),
.not-found-result svg #bubble-rounded:nth-child(7) {
    -webkit-animation-delay: -1680ms;
    animation-delay: -1680ms;
}

.not-found-result svg #oval:nth-child(8),
.not-found-result svg #plus:nth-child(8),
.not-found-result svg #diamond:nth-child(8),
.not-found-result svg #bubble-rounded:nth-child(8) {
    -webkit-animation-delay: -1920ms;
    animation-delay: -1920ms;
}

.not-found-result svg #oval:nth-child(9),
.not-found-result svg #plus:nth-child(9),
.not-found-result svg #diamond:nth-child(9),
.not-found-result svg #bubble-rounded:nth-child(9) {
    -webkit-animation-delay: -2160ms;
    animation-delay: -2160ms;
}

.not-found-result svg #oval:nth-child(10),
.not-found-result svg #plus:nth-child(10),
.not-found-result svg #diamond:nth-child(10),
.not-found-result svg #bubble-rounded:nth-child(10) {
    -webkit-animation-delay: -2400ms;
    animation-delay: -2400ms;
}

.not-found-result svg #oval:nth-child(11),
.not-found-result svg #plus:nth-child(11),
.not-found-result svg #diamond:nth-child(11),
.not-found-result svg #bubble-rounded:nth-child(11) {
    -webkit-animation-delay: -2640ms;
    animation-delay: -2640ms;
}

.not-found-result svg #oval:nth-child(12),
.not-found-result svg #plus:nth-child(12),
.not-found-result svg #diamond:nth-child(12),
.not-found-result svg #bubble-rounded:nth-child(12) {
    -webkit-animation-delay: -2880ms;
    animation-delay: -2880ms;
}

.not-found-result svg #oval:nth-child(13),
.not-found-result svg #plus:nth-child(13),
.not-found-result svg #diamond:nth-child(13),
.not-found-result svg #bubble-rounded:nth-child(13) {
    -webkit-animation-delay: -3120ms;
    animation-delay: -3120ms;
}

.not-found-result svg #oval:nth-child(14),
.not-found-result svg #plus:nth-child(14),
.not-found-result svg #diamond:nth-child(14),
.not-found-result svg #bubble-rounded:nth-child(14) {
    -webkit-animation-delay: -3360ms;
    animation-delay: -3360ms;
}

.not-found-result svg #oval:nth-child(15),
.not-found-result svg #plus:nth-child(15),
.not-found-result svg #diamond:nth-child(15),
.not-found-result svg #bubble-rounded:nth-child(15) {
    -webkit-animation-delay: -3600ms;
    animation-delay: -3600ms;
}

.not-found-result svg #oval:nth-child(16),
.not-found-result svg #plus:nth-child(16),
.not-found-result svg #diamond:nth-child(16),
.not-found-result svg #bubble-rounded:nth-child(16) {
    -webkit-animation-delay: -3840ms;
    animation-delay: -3840ms;
}

.not-found-result svg #bg-line {
    -webkit-animation: float 20s ease infinite;
    animation: float 20s ease infinite;
}

.not-found-result svg #bg-line:nth-child(2) {
    -webkit-animation-delay: 1200ms;
    animation-delay: 1200ms;
    fill-opacity: 0.3;
}

.not-found-result svg #bg-line:nth-child(3) {
    -webkit-animation-delay: 850ms;
    animation-delay: 850ms;
    fill-opacity: 0.4;
}

.not-found-result h3 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.not-found-result p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    line-height: 24px;
    max-width: 100%;
    margin: 1.25rem auto 0 auto;
}

@-webkit-keyframes plopp {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, -10px);
        opacity: 0;
    }
}

@keyframes plopp {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, -10px);
        opacity: 0;
    }
}

@-webkit-keyframes float {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(6px, 20px);
    }

    50% {
        transform: translate(25px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(6px, 20px);
    }

    50% {
        transform: translate(25px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}
