/* Variables */
:root {
    --blackColor: #000;
    --whiteColor: #fff;
    --primaryColor: #ababab;
    --alertColor: rgb(239, 49, 49);
    --boldFontWeight: bold;
    --fontSize: 1.2rem;
    --activeColor: #860a35;
}

/* CSS reset */
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

img {
    width: 100%;
    height: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    /* min-height: 100vh; */
    /* height: 2000px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inherit;
    color: var(--blackColor);
}

/* Modal styles */
.product-quickview .modal .modal-dialog {
    max-width: 835px;
}

.product-quickview .modal .modal-content {
    position: relative;
}

.product-quickview .modal .modal-content .close-button {
    position: absolute;
    background-color: var(--blackColor);
    right: -12px;
    top: -12px;
    color: var(--whiteColor);
    z-index: 99;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.2s linear;
    width: 38px;
    border: 1px solid var(--blackColor);
}

.product-quickview .modal .modal-content .close-button:hover {
    background-color: var(--whiteColor);
    color: var(--blackColor);
}

.product-quickview .modal .modal-content .product-info {
    display: flex;
    padding: 20px;
    width: 100%;
}

.product-quickview .modal .modal-content .product-info .product-info--image {
    height: 448px;
    max-width: 400px;
    margin-right: 10px;
}

.product-quickview .modal .modal-content .product-info .product-info--name {
    font-weight: var(--boldFontWeight);
    text-wrap: pretty;
}

.product-quickview .modal .modal-content .product-info .product-info--status {
    border-left: 3px solid var(--primaryColor);
    padding-left: 20px;
    margin-left: 20px;
}

.product-quickview .modal .modal-content .product-info .product-info--id span,
.product-quickview .modal .modal-content .product-info .product-info--status span {
    color: var(--activeColor);
    font-weight: var(--boldFontWeight);
}

.product-quickview .modal .modal-content .product-info .product-info--price {
    margin: 40px 0;
    font-size: 1.3rem;
}

.product-quickview .modal .modal-content .product-info .product-info--price span {
    font-size: 2rem;
    margin-left: 20px;
    font-weight: var(--boldFontWeight);
    color: var(--activeColor);
}

.product-quickview .modal .modal-content .product-info .product-control .product-control--quantity {
    font-size: 1.3rem;
}

.product-quickview .modal .modal-content .product-info .product-control .product-control--quantity span {
    margin-left: 40px;
    height: 37px;
    display: inline-flex;
}

.product-quickview .modal .modal-content .product-info .product-control .product-control--quantity span button {
    text-align: center;
    border: 3px solid var(--primaryColor);
    height: 100%;
    padding: 0 7px;
}

.product-quickview .modal .modal-content .product-info .product-control .product-control--quantity span button:hover {
    background-color: var(--blackColor);
    color: var(--whiteColor);
    transition: all 0.2s linear;
}

.product-quickview .modal .modal-content .product-info .product-control .product-control--quantity span input {
    display: none;
}

.product-quickview .modal .modal-content .product-info .product-control .submit-button {
    width: 100%;
    height: 40px;
    background-color: var(--blackColor);
    margin: 40px 0;
    transition: all 0.3s linear;
    border-radius: 10px;
}

.product-quickview .modal .modal-content .product-info .product-control .submit-button:hover {
    box-shadow: inset 0px 0px 7px 7px var(--primaryColor);
    background-color: var(--whiteColor);
}

.product-quickview .modal .modal-content .product-info .product-control .submit-button:hover button {
    color: var(--blackColor);
}

.product-quickview .modal .modal-content .product-info .product-control .submit-button button {
    color: var(--whiteColor);
    display: flex;
    font-weight: var(--boldFontWeight);
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product-quickview .modal .modal-content .product-info .product-detail {
    float: right;
    height: 20px;
    display: flex;
    align-items: center;
    font-weight: var(--boldFontWeight);
}

.product-quickview .modal .modal-content .product-info .product-detail:hover a {
    transition: color 0.2s linear;
    color: var(--primaryColor);
}

.product-quickview .modal .modal-content .product-info .product-detail a span {
    margin-left: 5px;
}

.product-quickview .modal .modal-content .product-info .product-detail a span i {
    animation: goToCart 0.5s linear infinite;
}

/* Toasts styles */
.toast-container {
    top: 30px;
}

.submit-add-to-cart-toast .toast-body {
    background-color: var(--whiteColor);
    font-size: 1.1rem;
    font-weight: var(--boldFontWeight);
    color: var(--blackColor);
    padding: 20px;
    border: 1px solid var(--blackColor);
    box-shadow: inset 0px 0px 20px 2px;
}

.submit-add-to-cart-toast .toast-body span {
    font-size: 1.3rem;
}

/* Header styles */
.header .header-top {
    width: 100%;
    height: 40px;
    background-color: var(--blackColor);
}

.header .header-top .carousel-content {
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 100%;
}

.header .header-top .carousel-content .content {
    font-size: 0.9rem;
    font-weight: var(--boldFontWeight);
    display: none;
    transition: all linear;
    animation: rotateInsideOut 0.5s linear forwards;
}

.header .header-top .carousel-content .content.active {
    display: block;
}

.header .navbar {
    width: 100%;
    background-color: var(--primaryColor);
    justify-content: center;
    border-bottom: 1px solid var(--blackColor);
    align-items: center;
}

.navbar--list {
    display: flex;
    width: 100%;
    width: var(--bs-breakpoint-xl);
    justify-content: space-between;
    align-items: center;
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
}

.navbar--list .navbar--item {
    border-bottom: 4px solid transparent;
    padding: 20px 10px;
    transition: border 0.2s linear;
    font-size: 1.3rem;
    margin-right: 10px;
    color: var(--blackColor);
    cursor: pointer;
}

.navbar--list .navbar--item:hover {
    border-bottom-color: var(--activeColor) !important;
}

.navbar--list .navbar--item.active {
    border-bottom-color: var(--activeColor) !important;
}

.navbar--list .navbar--item span {
    font-size: 1rem;
    margin-left: 5px;
}

.navbar--list .navbar--group-item {
    display: flex;
    justify-content: space-evenly;
}

.navbar--list .navbar--group-item a {
    overflow: hidden;
}

.navbar--group-item .navbar--item__cart {
    position: relative;
}

.navbar--item__cart .items-quantity {
    position: absolute;
    border-radius: 50%;
    background-color: #ff0000;
    height: 20px;
    line-height: 20px;
    width: 20px;
    text-align: center;
    top: 6px;
    right: 0px;
    font-size: 0.8rem;
    font-weight: var(--boldFontWeight);
}

.header .navbar--item__logo {
    width: 180px;
    margin-right: 100px;
}

.navbar--item__about {
    position: relative;
}

.navbar--item__about:hover .dropdown {
    display: block;
    animation: slideUp 0.2s linear forwards;
}

.navbar--item__about .dropdown {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 75px;
    left: 0;
    padding: 15px;
    font-size: 0.8rem;
    font-weight: var(--boldFontWeight);
    background-color: var(--primaryColor);
    border-radius: 5px;
    border: 1px solid var(--blackColor);
    transition: all 0.1s linear;
}

.navbar--item__about .dropdown::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 60px;
    background-color: transparent;
    top: -50px;
    z-index: 99;
}

.dropdown .dropdown--content {
    padding: 0;
}

.navbar--item__about .dropdown .dropdown--item {
    width: 150px;
    border-bottom: 1px solid var(--blackColor);
    background-color: var(--primaryColor);
    overflow: hidden;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s linear;
}

.navbar--item__about .dropdown .dropdown--item:hover {
    background-color: rgb(240, 248, 255);
}

.navbar--item__about .dropdown .dropdown--item:last-child {
    border-bottom: none;
}

.navbar--item__about .dropdown .dropdown--item a {
    padding: 15px 0;
    color: var(--blackColor);
    transition: all 0.2s linear;
    width: 100%;
    height: 100%;
}

.navbar--item__about .dropdown .dropdown--item:hover a {
    color: var(--activeColor) !important;
}

.search-form {
    flex: 1;
    max-width: 460px;
}

.navbar--item__search-box {
    position: relative;
    border-radius: 10px;
    height: 45px;
    border: 3px solid var(--blackColor);
    display: flex;
    align-items: center;
    background-color: var(--whiteColor);
}

.navbar--item__search-box input {
    width: 90%;
    font-size: 1rem;
    height: 40px;
    padding: 8px 15px 8px 8px;
    border-radius: 8px;
    margin-right: 1px;
}

.navbar--item__search-box .clear-input-btn {
    position: absolute;
    font-size: 1rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    right: 10.5%;
}

.navbar--item__search-box .clear-input-btn:hover {
    opacity: 0.8;
}

.navbar--item__search-box .submit-button {
    width: 10%;
    display: flex;
    background-color: var(--blackColor);
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--whiteColor);
    border-radius: 0;
    height: 100%;
    box-shadow: none;
    transition: all 0.2s linear;
}

.navbar--item__search-box .submit-button:hover {
    opacity: 0.7;
    color: var(--primaryColor);
}

.suggest-search--list {
    position: absolute;
    margin-top: 10px;
    display: flex;
    bottom: -25px;
}

.suggest-search--list ul {
    display: flex;
    overflow: hidden;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
}

.suggest-search--item {
    flex: 1;
    margin-right: 15px;
}

.suggest-search--item i {
    margin-right: 5px;
}

.suggest-search--item span {
    transition: all 0.1s linear;
    line-height: 20px;
    color: var(--blackColor);
    text-wrap: nowrap;
}

.suggest-search--item:hover span {
    cursor: default;
    font-weight: bold;
}

.navbar--item__cart {
    position: relative;
}

.navbar--item__cart:hover .empty-cart,
.navbar--item__cart:hover .products-list {
    animation: slideUp 0.2s linear forwards;
}

.navbar--item__cart .products-list {
    transition: all 0.2s linear;
    display: none;
    position: absolute;
    z-index: 999;
    width: 410px;
    border-radius: 4px;
    min-height: 220px;
    height: 350px;
    bottom: -380px;
    left: -20px;
    cursor: default;
    background-color: var(--whiteColor);
    box-shadow: 0px 0px 2px 0px var(--primaryColor);
    font-weight: var(--boldFontWeight);
}

.navbar--item__cart .products-list::before {
    content: "";
    position: absolute;
    width: 125px;
    height: 60px;
    top: -59px;
    background-color: transparent;
}

.navbar--item__cart .products-list .heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    background-color: var(--primaryColor);
    font-size: 1rem;
    color: var(--whiteColor);
}

.navbar--item__cart .products-list .product-item {
    display: flex;
    padding: 10px;
    font-size: 0.9rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.navbar--item__cart .products-list .product-item .product-item__content {
    max-width: 250px;
}

.navbar--item__cart .products-list .product-item .product-item__image {
    width: 100px;
    height: 100px;
}

.navbar--item__cart .products-list .product-item .product-item__name {
    font-weight: var(--boldFontWeight);
    padding: 15px 20px;
    text-overflow: ellipsis;
}

.navbar--item__cart .products-list .product-item .product-item__name a {
    text-decoration-color: transparent;
    transition: all 0.2s linear;
    line-height: 20px;
}

.navbar--item__cart .products-list .product-item .product-item__name:hover a {
    color: #7eb742;
    text-decoration: underline;
    text-decoration-color: inherit;
}

.navbar--item__cart .products-list .content {
    max-height: 70%;
    overflow-y: auto;
    height: 70%;
}

.navbar--item__cart .products-list .content::-webkit-scrollbar-track {
    background-color: var(--whiteColor);
}

.navbar--item__cart .products-list .content::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

.navbar--item__cart .products-list .content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--primaryColor);
}

.navbar--item__cart .products-list .product-item .product-item__price {
    color: #ff0000;
    font-weight: var(--boldFontWeight);
    padding: 0 50px;
    cursor: default;
}

.navbar--item__cart .products-list .product-item__action {
    height: 100%;
}

.navbar--item__cart .products-list .product-item__action .product-item__quantity {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.navbar--item__cart .products-list .product-item__action .product-item__quantity i {
    font-size: 0.7rem;
    margin-right: 4px;
}

.navbar--item__cart .products-list .product-item__action .delete-product {
    text-align: center;
    width: 20px;
    height: 100%;
}

.navbar--item__cart .products-list .product-item__action .delete-product {
    transition: opacity 0.2s linear;
    opacity: 0;
}

.navbar--item__cart .products-list .product-item__action .delete-product:hover {
    color: var(--primaryColor);
}

.navbar--item__cart .products-list .product-item:hover .delete-product {
    opacity: 1;
}

.navbar--item__cart .products-list .footer {
    display: flex;
    border-top: 1px solid var(--primaryColor);
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar--item__cart .products-list .footer .total .price {
    font-size: 1rem;
    color: #ff0000;
}

.navbar--item__cart .products-list .footer .go-to-cart {
    font-size: 0.9rem;
    border: 1px solid var(--blackColor);
    transition: all 0.2s linear;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar--item__cart .products-list .footer .go-to-cart:hover {
    box-shadow: 0 0 15px var(--primaryColor), 0 0 25px var(--primaryColor), 0 0 15px #fff inset;
}

.navbar--item__cart .products-list .footer .go-to-cart a {
    padding: 15px 20px;
}

.navbar--item__cart .products-list .footer .go-to-cart:hover {
    background-color: var(--primaryColor);
}

.navbar--item__cart .products-list .footer .go-to-cart:hover a {
    color: var(--whiteColor);
}

.navbar--item__cart .products-list .footer .go-to-cart i {
    transition: all 0.2 linear;
    visibility: visible;
    margin-left: 5px;
}

.navbar--item__cart .products-list .footer .go-to-cart:hover i {
    visibility: visible;
    animation: goToCart 0.5s infinite linear;
}

.navbar--item__cart .empty-cart {
    position: absolute;
    z-index: 999;
    text-wrap: nowrap;
    display: none;
    width: auto;
    padding: 15px 20px;
    text-align: center;
    transition: all 0.2s linear;
    border: 1px solid var(--blackColor);
    bottom: -85px;
    left: -25px;
    cursor: default;
    border-radius: 5px;
    font-weight: var(--boldFontWeight);
    background-color: var(--whiteColor);
}

.navbar--item__cart .empty-cart::before {
    content: "";
    position: absolute;
    width: 62px;
    height: 60px;
    top: -59px;
    background-color: transparent;
}

.header .menu--list {
    width: 100%;
    background-color: var(--blackColor);
    height: 50px;
}

.header .menu--list ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header .menu--list .menu--item {
    width: 150px;
    height: 100%;
    position: relative;
    transition: all 0.2s linear;
}

.header .menu--list .menu--item:hover {
    background-color: var(--whiteColor);
}

.header .menu--list .menu--item:hover > a {
    color: var(--blackColor);
}

.header .menu--list .menu--item > a {
    font-weight: var(--boldFontWeight);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--whiteColor);
    text-transform: uppercase;
}

.header .menu--list .menu--item a i {
    margin-left: 5px;
}

.header .menu--list .menu--item .sub-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    border-top: 1px solid var(--whiteColor);
    min-width: 200px;
    height: auto;
    z-index: 999;
}

.header .menu--list .menu--item .sub-menu .sub-menu--item {
    width: 100%;
    background-color: var(--blackColor);
    transition: all 0.2s linear;
    height: 50px;
    border-bottom: 1px solid var(--whiteColor);
}

.header .menu--list .menu--item .sub-menu .sub-menu--item:hover {
    background-color: var(--whiteColor);
    box-shadow: 0px 0px 10px 4px var(--blackColor) inset;
}

.header .menu--list .menu--item .sub-menu .sub-menu--item:hover > a {
    color: var(--blackColor);
}

.header .menu--list .menu--item .sub-menu .sub-menu--item > a {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: var(--boldFontWeight);
    width: 100%;
    padding: 10px 20px;
    color: var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.header .menu--list .menu--item__category:hover .sub-menu,
.header .menu--list .menu--item__occasions:hover .sub-menu {
    display: flex;
    animation: slideUp 0.2s linear forwards;
}

/* Body styles */

.banner-carousel {
    margin: 40px auto 0;
    max-width: 1200px;
    border: 5px solid var(--blackColor);
}

.banner-carousel .carousel {
    display: flex;
}

.banner-carousel .carousel-inner {
    max-height: 600px;
}

.banner-carousel .carousel-inner .carousel-item img {
    object-fit: fill;
    max-height: 600px;
}

.banner-carousel .carousel-control-prev,
.banner-carousel .carousel-control-next {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: unset;
    bottom: unset;
    align-self: center;
    background-color: #ababab99;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.banner-carousel .carousel-control-prev:hover,
.banner-carousel .carousel-control-next:hover {
    background-color: var(--blackColor);
}

.banner-carousel .carousel-control-prev:hover i,
.banner-carousel .carousel-control-next:hover i {
    transition: color 0.2s linear;
    color: var(--whiteColor);
}

.banner-carousel:hover .carousel-control-next {
    transform: translateX(-40%);
    opacity: 1;
    visibility: visible;
}

.banner-carousel:hover .carousel-control-prev {
    transform: translateX(40%);
    opacity: 1;
    visibility: visible;
}

.banner-carousel:hover .carousel-control-next {
    animation: buttonRightSlide 0.2s linear forwards;
}

.banner-carousel:hover .carousel-control-prev {
    animation: buttonLeftSlide 0.2s linear forwards;
}

.banner-carousel .carousel-control-prev span,
.banner-carousel .carousel-control-next span {
    background-image: none;
}

.banner-carousel .carousel-control-prev span i,
.banner-carousel .carousel-control-next span i {
    color: var(--blackColor);
    font-size: 2rem;
}

.products {
    max-width: 1200px;
    margin: 100px auto;
}

.products .products__item {
    position: relative;
    display: block;
}

.products > .products__title {
    margin-bottom: 30px;
}

.products .products__list .slick-next {
    right: -40px;
}

.products .products__list .slick-prev {
    left: -40px;
}

.products .products__list .slick-next,
.products .products__list .slick-prev {
    z-index: 99;
    width: 50px;
    height: 50px;
}

.products .products__list .slick-next::before,
.products .products__list .slick-prev::before {
    display: none;
}

.products .products__list .slick-next i,
.products .products__list .slick-prev i {
    color: var(--blackColor);
    font-size: 2rem;
}

.products .products__list .slick-slide {
    margin: 0 10px;
}

.products .products__list .products__item .products__item--card {
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--blackColor);
    border-radius: 10px;
}

.products .products__list .products__item .products__item--card .product-id {
    position: absolute;
    background-color: var(--primaryColor);
    top: 0;
    left: 0;
    padding: 5px;
    color: var(--whiteColor);
    font-weight: var(--boldFontWeight);
}

.products .products__list .products__item .buy-button {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
}

.products .products__list .products__item .buy-button button {
    background-color: var(--blackColor);
    color: var(--whiteColor);
    transition: all 0.3s linear;
    z-index: 999;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 1.2rem;
    border: 1px solid transparent;
    opacity: 0;
    visibility: hidden;
}

.products .products__list .products__item .buy-button button:hover {
    background-color: var(--whiteColor);
    color: var(--primaryColor);
    border-color: var(--blackColor);
}

.products .products__list .products__item:hover .buy-button button {
    opacity: 1;
    visibility: visible;
}

.products .products__list .products__item .products__item--card img {
    object-fit: fill;
    width: 100%;
}

.products .products__list .products__item .products__item--card .info {
    width: 100%;
    height: 120px;
    font-weight: var(--boldFontWeight);
    padding: 5px;
}

.products .products__list .products__item .products__item--card .info .occasion {
    color: var(--primaryColor);
    text-transform: uppercase;
    font-size: 0.75rem;
    margin: 5px 0;
}

.products .products__list .products__item .products__item--card .info .price {
    margin: 10px 0;
}

.products .products__list .products__item .products__item--card .info .name {
    overflow: hidden;
    text-wrap: wrap;
    line-height: 17px;
    font-size: 0.85rem;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* Footer styles */
.footer {
    height: 300px;
    width: 100%;
    position: relative;
}

.footer__heading {
    width: 100%;
    height: 30px;
    background-color: var(--blackColor);
}

.footer .footer__content {
    padding-top: 20px;
    background-color: var(--primaryColor);
    width: 100%;
    font-weight: var(--boldFontWeight);
    font-size: 0.9rem;
    padding-bottom: 20px;
}

.footer .footer__content .wrapper {
    justify-content: space-between;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.footer .footer__content .footer__logo {
    height: 165px;
}

.footer .footer__services .list .item,
.footer .footer__helps .list .item,
.footer .footer__contact .list .item {
    padding: 6px;
}

.footer .list .item a {
    transition: color linear 0.2s;
}

.footer .footer__contact .list .item i {
    font-size: 1.2rem;
    line-height: 23px;
}

.footer .footer__contact .footer__contact--socials {
    display: flex;
    font-size: 2rem;
    width: 100%;
    justify-content: flex-start;
    margin-top: 10px;
}

.footer .footer__contact .footer__contact--socials a {
    transition: color 0.2s linear;
    margin-right: 15px;
}

.footer .footer__contact .footer__contact--socials a:hover {
    color: var(--whiteColor);
}

.footer .list .item:hover a {
    color: var(--whiteColor);
}

.footer .footer__content .footer__contact {
    width: 260px;
}

.footer .footer__copyright {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: var(--whiteColor);
    font-weight: bold;
    font-size: 0.8rem;
    background-color: var(--blackColor);
}

.footer .footer__copyright span {
    text-decoration: underline;
}

/* ---------------------------------------------------------------- */

/* Animations */
@keyframes slideUp {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes goToCart {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(50%);
    }
}

@keyframes rotateInsideOut {
    0% {
        transform: rotateX(0deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(360deg);
        opacity: 1;
    }
}
